* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  background-color: #5995DA;
  height: 100px;
}

.menu {
  background-color: #B2D6FF;
  height: 50px;
  justify-content: left;
}

.content1 {
  background-color: #F5CF8E;
  height: 500px;
}

.content2 {
  background-color: #F09A9D;
  height: 500px;
}

@media only screen and (max-width: 961px) {
  .Home, .News, .Contact, .About {
    justify-content: center;
    width: 10%;
  }
  .content1, .content2 {
    width: 100%;
  }
}

@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .Home, .News, .Contact, .About {
    justify-content: center;
    width: 10%;
  }
  .content1, .content2 {
    width: 50%;
  }
}
